*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}

img {
    position: absolute;
    width: 50%;
}
.img_wrap {
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car {
    mix-blend-mode: hue;
}


.color_wrap {
    margin-bottom: 150px;
    width: 100%;
    height: 50px;
    display: flex;
}

.color{
    margin: 0 5px;

}
.color_blocks {
    display: flex;
}

.block {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin: 0 10px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.grey {
    background-color: grey;
}